// main colors
$main-blue: #007bff;
$main-dark-blue: #2462a5;
$main-blue-green: #17a2b8;

// uikit variables
$offcanvas-bar-background: $main-dark-blue;
// navbar
$navbar-dropdown-padding: 0;
$dropdown-padding: none;

.news-article {
  background-color: rgba(250,250,250,0.25);
  padding: 30px;
  border-radius: 10px;
}
.article-text {
  text-align: justify;
}
.top-margin {
  margin-top: 2rem;
}
.article-image {
  border-radius: 10px;
}
.article-info {
  margin: 3px;
}
.backgrount-transparent {
  background-color: $main-blue;
  opacity: 0.85;
}
.sub-menu-item:hover {
  background-color: #daecff;
  font-weight: bolder;
}
.sub-menu-item-elm {
  line-height: 2rem;
  margin-left: 20px;
}
#app {
  z-index: 99;
}
video {
  z-index: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.mask {
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  background: $main-blue; /* Для старых браузров */
  background: linear-gradient(to bottom, $main-blue, $main-blue-green);
  min-width: 100%;
  min-height: 100%;
}
