.news-article {
  background-color: rgba(250,250,250,0.25);
  padding: 30px;
  border-radius: 10px;
}
.article-text {
  text-align: justify;
}
.top-margin {
  margin-top: 2rem;
}
.article-image {
  border-radius: 10px;
}
.article-info {
  margin: 3px;
}
